@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
 
h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: #26bb0f;
    font-weight: bold;
}

.intermediario {
    color: #cec512;
}

.avancado {
    color: #d51313;
}

.destaque {
    background-color: #f0f00670;
}